/*
* specific icon dimensions
*
**********************************************************************/


.icon-alert-lg-dims {
  width: 23px;
  height: 20px;
}

.icon-alert-sm-dims {
  width: 17px;
  height: 15px;
}

.icon-analysis-dims {
  width: 25px;
  height: 23px;
}

.icon-arrow-down-red-dims {
  width: 12px;
  height: 15px;
}

.icon-arrow-up-green-dims {
  width: 12px;
  height: 15px;
}

.icon-call-dims {
  width: 28px;
  height: 28px;
}

.icon-check-dims {
  width: 15px;
  height: 15px;
}

.icon-chevron-down-green-dims {
  width: 16px;
  height: 9px;
}

.icon-chevron-left-blue-dims {
  width: 6px;
  height: 10px;
}

.icon-chevron-left-green-dims {
  width: 9px;
  height: 16px;
}

.icon-chevron-right-blue-dims {
  width: 6px;
  height: 10px;
}

.icon-chevron-right-grey-dims {
  width: 6px;
  height: 12px;
}

.icon-close-dims {
  width: 24px;
  height: 24px;
}

.icon-close-hover-dims {
  width: 24px;
  height: 24px;
}

.icon-col-toggle-dims {
  width: 10px;
  height: 14px;
}

.icon-contact-dims {
  width: 40px;
  height: 28px;
}

.icon-conversion-dims {
  width: 80px;
  height: 90px;
}

.icon-dashboard-dims {
  width: 30px;
  height: 30px;
}

.icon-edit-dims {
  width: 20px;
  height: 20px;
}

.icon-flyout-tab-left-blue-dims {
  width: 17px;
  height: 39px;
}

.icon-flyout-tab-left-white-sm-dims {
  width: 9px;
  height: 20px;
}

.icon-flyout-tab-top-white-dims {
  width: 39px;
  height: 17px;
}

.icon-help-dims {
  width: 25px;
  height: 25px;
}

.icon-help-sm-dims {
  width: 16px;
  height: 16px;
}

.icon-helpful-dims {
  width: 22px;
  height: 20px;
}

.icon-icon-forapproval-dims {
  width: 105px;
  height: 90px;
}

.icon-icon-withoutlayout-dims {
  width: 105px;
  height: 90px;
}

.icon-manage-dims {
  width: 26.2px;
  height: 27px;
}

.icon-manage-layouts-dims {
  width: 24px;
  height: 24px;
}

.icon-manage-tenants-dims {
  width: 27px;
  height: 22px;
}

.icon-manage-vertex-users-dims {
  width: 33px;
  height: 19px;
}

.icon-messages-dims {
  width: 21px;
  height: 22px;
}

.icon-messages-lg-dims {
  width: 78.9px;
  height: 80.6px;
}

.icon-no-layout-dims {
  width: 80px;
  height: 90px;
}

.icon-notice-dims {
  width: 21px;
  height: 22px;
}

.icon-notices-dims {
  width: 21px;
  height: 22px;
}

.icon-page-forapproval-sm-dims {
  width: 40px;
  height: 46px;
}

.icon-page-layoutrequests-dims {
  width: 67.1px;
  height: 82px;
}

.icon-page-layoutsrejected-dims {
  width: 67.1px;
  height: 82px;
}

.icon-page-withoutlayout-sm-dims {
  width: 40px;
  height: 46px;
}

.icon-plus-dims {
  width: 14px;
  height: 14px;
}

.icon-plus-white-dims {
  width: 24px;
  height: 24px;
}

.icon-remove-dims {
  width: 12px;
  height: 12px;
}

.icon-remove-hover-dims {
  width: 12px;
  height: 12px;
}

.icon-reports-dims {
  width: 22.9px;
  height: 30px;
}

.icon-search-dims {
  width: 20px;
  height: 20px;
}

.icon-settings-dims {
  width: 23px;
  height: 23px;
}

.icon-settings-hover-dims {
  width: 23px;
  height: 23px;
}

.icon-star-filled-dims {
  width: 18px;
  height: 18px;
}

.icon-star-hollow-dims {
  width: 18px;
  height: 18px;
}


/*
 * Other attributes
 *
 **********************************************************************/

.u-icon {
  display: inline-block;
  fill: currentColor;
}


.u-icon-container-lg {
  min-height: 105px;
}
