<h1>Action Alert Component</h1>
<action-alert count="425" icon="conversion" text="THIS IS A TEST" link="link"></action-alert>

<h1>Code Highlight Directive</h1>
<pre>
  <code codeHighlight>
    &lt;div class="sampleClass"&gt;
    &lt;h1&gt;Some Sample HTML code&lt;/h1&gt;
    &lt;/div&gt;
  </code>
</pre>

<h1>Icon Component</h1>
<div *ngFor="let icon of icons" style="display:inline-flex;margin:10px;border:1px solid grey;border-radius:5px;padding:2px;">
  <h3 style="padding-right:10px;margin:auto 0;">{{icon}}</h3>
  <div style="background:#DD4A68;display:inline;padding:10px;border:none;border-radius:5px;">
    <icon [icon]="icon" ></icon>
  </div>
  <div style="background:#CCFFFF;display:inline;padding:10px;border:none;border-radius:5px;">
    <icon [icon]="icon" ></icon>
  </div>
</div>

<h1>Notifications Component</h1>
<div>
  <button (click)="notificationsService.create(myTitle, message, 'success')">Success Notification</button>
  <button (click)="notificationsService.create(myTitle, message, 'alert')">Alert Notification</button>
  <button (click)="notificationsService.create(myTitle, message, 'warn')">Warning Notification</button>
  <button (click)="notificationsService.create(myTitle, message, 'info')">Info Notification</button>

  <br/>

  <p>Notifications will load here:</p>

  <div style="height:700px;background:#DD4A68;">
    <notification-queue [options]="options" [service]="notificationsService"></notification-queue>
  </div>

</div>
