$colors: (
  brand-primary-light: #e0ecf8,
  brand-primary: #266eb3,
  brand-primary-dark: #003d7c,
  brand-primary-extradark: #0a2e50,
  brand-secondary-extralight: #fbfeeb,
  brand-secondary-light: #f5febf,
  brand-secondary: #d4f024,
  brand-secondary-dark: #c0d82f,
  brand-secondary-extradark: #aabd30,
  accent-warning-light: #fff7c4,
  accent-warning: #ffe329,
  accent-warning-dark: #eeca00,
  accent-error-light: #ffe6e7,
  accent-error: #d1373b,
  accent-error-dark: #aa292d,
  neutral-white: #fff,
  neutral-superlight: #f0efef,
  neutral-extralight: #d5d5d5,
  neutral-light: #616161,
  neutral: #414141,
  neutral-dark: #262626,
  neutral-extradark: #131313,
  neutral-black: #000,
);

// grab color from SCSS Map
@function color( $key ) {
  @if map-has-key( $colors, $key ) {
    @return map-get( $colors, $key );
  } @else {
    @warn "The '#{$key}' in $colors doesn't exist.";
    @return null;
  }
}


$brand-font: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$brand-font-default: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$base-font: $brand-font-default;

$base-font-size: 14; // in pixels
$base-line-height: 1.5; // how large the line height is as a multiple of font size
$leading: $base-line-height * 0.8rem;

// rate of growth for headings
// slightly smaller then the leading makes for tight headings
$scale: 1.414;

$padding: 16px;

$notification-bg-success: color(brand-secondary-light);
$notification-border-success: color(brand-secondary-dark);

$notification-bg-error: color(accent-error);
$notification-border-error: color(accent-error);

$notification-bg-alert: color(accent-error);
$notification-bg-info: color(brand-primary);
$notification-bg-warn: color(accent-warning);

$notification-success-bg: color(brand-secondary-light);
$notification-success-border: color(brand-secondary-dark);

$notification-error-bg: color(accent-error-light);
$notification-error-border: color(accent-error);

$notification-alert-bg: $notification-error-bg;
$notification-alert-border: $notification-error-border;

$notification-info-bg: color(brand-primary-light);
$notification-info-border: color(brand-primary);

$notification-warn-bg: color(accent-warning-light);
$notification-warn-border: color(accent-warning);

@mixin notification-variant($bg, $border) {
  background: $bg;
  border-color: $border;

  .notification-item__progress span {
    background: darken($bg, 10%);
  }
}


@mixin font-size($font-size: $base-font-size) {
  $rem: ($font-size / $base-font-size);
  font-size: $font-size * 1px;
  font-size: #{$rem}rem;
}

.notification-item {
  width: 100%;
  padding: $padding;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 10px;
  color: #000;
  transition: all 0.5s;
  border-style: solid;
  border-width: 1px;
  margin-top: 0;

  font-family: $brand-font-default;

  &__title {
    margin: 0;
    padding: 0;
  }

  &__content {
    @include font-size(14);
    margin: 0;
    padding: 0 36px 0 0;
    line-height: $base-line-height;
  }

  &--success {
    @include notification-variant($notification-success-bg, $notification-success-border);
  }
  &--error {
    @include notification-variant($notification-error-bg, $notification-error-border);
  }
  &--alert {
    @include notification-variant($notification-alert-bg, $notification-alert-border);
  }
  &--info {
    @include notification-variant($notification-info-bg, $notification-info-border);
  }
  &--warn {
    @include notification-variant($notification-warn-bg, $notification-warn-border);
  }

  &__progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;

    span {
      float: left;
      height: 100%;
    }
  }

  &__close {
    top: 14px !important;
  }

  &__footnote {
    font-size: 11px;
    margin: 12px 0 0;
    opacity: 0.75;
  }
}
